.Contador-paragrafo {
  font: 900 1em cursive;
}

.Contador-contagem {
  margin-left: 0.2em;
  font: 900 1.5em cursive;
  color: #61dafb;
}

.Contador-botao {
  margin: 0.8em auto 0;
  padding: 0.2em 1.5em;
  border: none;
  display: block;
  cursor: pointer;
  box-shadow: 0 5px 0 #61dafb;
  font: 900 0.8em cursive;
  color: #282c34;
  letter-spacing: 2px;
  background-color: white;
}

.Contador-botao:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}
